### Дано
Таблица:

'order_id' - идентификатор заказа

'customer_id' - идентификатор клиента

'order_date' - дата заказа

'order_amount' - сумма заказа

### Задание
Написать запрос, который выводит следующую информацию для каждого заказа:

'order_id' - идентификатор заказа

'customer_id' - идентификатор клиента

'order_date' - дата заказа

'order_amount' - сумма заказа

'running_total' - накопленная сумма заказов клиента (упорядоченных по дате)

In [1]:
import pandas as pd

data_orders = {
    'order_id': [1, 2, 3, 4, 5],
    'customer_id': [101, 101, 102, 101, 102],
    'order_date': ['2024-01-01', '2024-01-05', '2024-01-03', '2024-01-10', '2024-01-15'],
    'order_amount': [100, 200, 150, 300, 250],
}
orders = pd.DataFrame(data=data_orders)

In [2]:
orders

   order_id  customer_id  order_date  order_amount
0         1          101  2024-01-01           100
1         2          101  2024-01-05           200
2         3          102  2024-01-03           150
3         4          101  2024-01-10           300
4         5          102  2024-01-15           250

In [3]:
orders['running_total'] = orders.groupby(['customer_id'])['order_amount'].cumsum()

In [4]:
orders

   order_id  customer_id  order_date  order_amount  running_total
0         1          101  2024-01-01           100            100
1         2          101  2024-01-05           200            300
2         3          102  2024-01-03           150            150
3         4          101  2024-01-10           300            600
4         5          102  2024-01-15           250            400