### Дано
Две таблицы: сотрудники и менеджеры.
### Задача
Нужно вывести список сотрудников и их менеджеров.

Если у сотрудника нет менеджера, то он всё равно должен быть в списке, но без указания менеджера.

In [1]:
import pandas as pd

data_employees = {
    'emploee_id': [1, 2, 3, 4, 5],
    'name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Edvard'],
    'manager_id': [None, 1, 1, 2, 2],
}
employees = pd.DataFrame(data=data_employees)

data_managers = {
    'manager_id': [1, 2],
    'name': ['M1', 'M2'],
}
managers = pd.DataFrame(data=data_managers)

In [2]:
# Лефт джойт и переименование колонок
result = employees.merge(managers, how='left', on='manager_id').rename(columns={'name_x': 'emploee_name', 'name_y': 'manager_name'})

In [3]:
# Вывод списка сотрудников и их менеджеров, если менеджера нет, то выводится надпись 'no manager'
result[['emploee_name', 'manager_name']].fillna('no manager')

  emploee_name manager_name
0        Alice   no manager
1          Bob           M1
2      Charlie           M1
3        Diana           M2
4       Edvard           M2