In [57]:
import pandas as pd

data = pd.DataFrame({
    "customer_id": [101, 102, 103, 104],
    "order_date": ["2024-01-01", "2024-01-02", None, "2024-01-04"],
    "amount": [100, 200, 150, None]
})


data

   customer_id  order_date  amount
0          101  2024-01-01   100.0
1          102  2024-01-02   200.0
2          103        None   150.0
3          104  2024-01-04     NaN

### Задачи:
1. Заменить пропущенные даты в колонке 'order_date' на последнее непропущенное значение даты из педыдущих строк
2. Заменить пропущенные значения в колонке 'amout' на среднее значение по этой колонке

In [58]:
data_date_fill = pd.DataFrame(data=data)

### 1 Заменить пропущенные даты в колонке 'order_date' на последнее непропущенное значение даты из педыдущих строк

In [59]:
data_date_fill['order_date'] = data_date_fill['order_date'].ffill()

In [60]:
data_date_fill

   customer_id  order_date  amount
0          101  2024-01-01   100.0
1          102  2024-01-02   200.0
2          103  2024-01-02   150.0
3          104  2024-01-04     NaN

### 2 Заменить пропущенные значения в колонке 'amout' на среднее значение по этой колонке

In [61]:
data_date_fill['amount'] = data_date_fill['amount'].fillna(value=data_date_fill['amount'].mean())

In [62]:
data_date_fill

   customer_id  order_date  amount
0          101  2024-01-01   100.0
1          102  2024-01-02   200.0
2          103  2024-01-02   150.0
3          104  2024-01-04   150.0